

.cart-section {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  position: sticky;
  top: 2rem;
  height: fit-content;
  color:#333
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}
.cart-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.cart-total {
  font-size: 1.25rem;
  font-weight: bold;
  color: #d32f2f;
  text-align: right;
  margin-top: 1rem;
}