.main-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
    max-width: 1400px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
}